@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-icon::after {
  color: gray;
}
.company-details {
  position: relative;
  min-height: 100vh;
}

.company-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/company-home/corporate-businessman-giving-presentation-large-audience.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
  background-blend-mode: darken, luminosity, color-dodge;
  background-color: transparent;
}

.offers {
  background-image: url("../assets/5185208.jpg");
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login-bg {
  background-image: url("../assets/5185208.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team-banner {
  background-image: url("../assets/team/event-managers-showing-something-laptop-couple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken, luminosity;
  background-color: transparent;
  height: 80vh;
  object-fit: contain;
  width: 100%;
  opacity: 0.8;
}
.about-bg {
  background-image: url("../assets/about/silhouette-confident-businesspeople.jpg");
  background-repeat: no-repeat;
  height: 80vh;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  background-blend-mode: darken, luminosity;
}

.apart-bg {
  background-image: url("../assets/5185208.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
}
.contact-blob {
  background-image: url("../assets/contactImg/blob.svg");
  background-repeat: no-repeat;
  object-fit: fill;
  background-size: 100% 100%;
  width: 50vw;
  height: 80vh;
  background-blend-mode: darken, luminosity;
  background-color: transparent;
  /* opacity: 0.3; */
}
